if ROCKCHIP_RK3576

config TARGET_OMNI3576_RK3576
	bool "Luckfox Omni3576 Carrier Board with Core3576 Module"
	help
	  Enable support for the Luckfox Omni3576 carrier board, paired with the
	  Core3576 compute module. The Core3576 features the Rockchip RK3576 SoC,
	  with a quad-core Arm Cortex-A72 at 2.2GHz, quad-core Arm Cortex-A53 at
	  2.0GHz, an Arm Mali-G52 MC3 GPU, and a 6 TOPS NPU.

config TARGET_ROC_PC_RK3576
	bool "Firefly ROC-RK3576-PC"
	help
	  ROC-RK3576-PC is a single board computer from Firefly
	  using the Rockchip RK3576.

config ROCKCHIP_BOOT_MODE_REG
	default 0x26024040

config ROCKCHIP_STIMER_BASE
	default 0x27400000

config SYS_SOC
	default "rk3576"

source board/luckfox/omni3576-rk3576/Kconfig
source board/firefly/roc-pc-rk3576/Kconfig

config SYS_CONFIG_NAME
	default "rk3576_common"

endif
